<div class="main-box">
    <!-- Sale section-->
    <div id="img-contain">
        <img id="sale-img" src="img/sale.jpg" alt="sale">
    </div>
    


    <!-- Category section-->
    <div class="cate">
        {{#each data}}
        <div class="cate-box">
            <p class="cate-title">
                {{this.title}}
            </p>

            <a href="/products/{{this.title}}"><img src="/img/{{this.productImg}}" alt="{{this.title}}" width="60%" height="60%"></a> <br>
            <!--
            <p><a class="cate-ex" href="/products">Explore now</a></p>
            -->
        </div>
        {{/each}}
    </div>

    <!-- Best Seller section-->
    <div id="best">
        <p id="best-title">Best Sellers</p>
        <div class="best-contain">
            {{#each data1}}
            <div class="best-box">
                <a href="/products/item/{{this.id}}"><img src="/img/{{this.productImg}}" alt="{{this.title}}" width="50%" height="60%"></a>
            </div>
            {{/each}}
        </div>

    </div>


</div>