<div id="productPage">
    <p class="product-title">All Product</p>
    <p class="product-title-des">showing all product</p>
    <div class="product">
        <div class="product-menu">
            <p class="product-menu-title"><a class="product-menu-title-a" href="/products">All product</a></p>
            <p class="product-menu-title product-menu-title-a">Product Category &darr;</p>
            <p class="product-menu-title"><a class="product-menu-title-a" href="/products/laptop">Laptop</a></p>
            <p class="product-menu-title"><a class="product-menu-title-a" href="/products/laptop-bag">Laptop Bag</a></p>
            <p class="product-menu-title"><a class="product-menu-title-a" href="/products/chocolate">Chocolate</a></p>
            <p class="product-menu-title"><a class="product-menu-title-a" href="/products/notebook">Notebook</a></p>
        </div>
        <div class="product-coontain">
            <div class="product-part">
                {{#each data}}
                    <div class="product-box">
                    {{#if this.best}}
                    <div class="best-logo">Best Seller</div>
                    {{else}}
                    <div class="not-best">#</div>
                    {{/if}}
                    <div class="product-img">
                        <a href="/products/item/{{this.id}}"><img src="/img/{{this.productImg}}" alt="{{this.title}}" width="60%" height="60%"></a>
                    </div>
                    
                    <p class="product-titles">
                        <a class="product-link" href="/products/item/{{this.id}}">{{this.title}}</a>
                    </p>
                    <p class="product-price">
                        CDN: $ {{this.price}}
                    </p>
                    <p class="product-cate">
                        Category: {{this.cate}}
                    </p>

                    </div>
                {{/each}}
            </div>
            
        </div>
    </div>